<?xml version="1.0" encoding="UTF-8"?>
<jduplicatefinder>
    <filters>
        <filter>
            <title>Windows Thumbnails DB Files (Thumbs.db)</title>
            <type>Simple</type>
            <match>Filename</match>
            <pattern>Thumbs.db</pattern>
        </filter>
        <filter>
            <title>DVD Information Files (*.IFO, *.BUP)</title>
            <type>Regexp</type>
            <match>Filename</match>
            <pattern><![CDATA[.*\.(IFO|BUP)]]></pattern>
        </filter>
        <filter>
            <title>(UNIX) Files under hidden directory</title>
            <type>Regexp</type>
            <match>Path</match>
            <pattern><![CDATA[.*/\..*/.*$]]></pattern>
        </filter>
        <filter>
            <title>Audio files</title>
            <type>Regexp</type>
            <match>Filename</match>
            <pattern><![CDATA[\.(mp3|wav|ogg|flac|m4a|aac|ra|rm|mpc|m4p|3gp|wma)$]]></pattern>
        </filter>
        <filter>
            <title>Video files</title>
            <type>Regexp</type>
            <match>Filename</match>
            <pattern><![CDATA[\.(avi|mpg|divx|mp4|mkv|wmv|flv|vob|ogv|mov|rm)$]]></pattern>
        </filter>
    </filters>
</jduplicatefinder>
